<mat-toolbar color="primary">
  <div class="logo-container">
    <img src="https://images2.imgbox.com/0c/48/VKTsIToM_o.png" alt="Logo" class="logo">
  </div>
  <span>Clube do Livro</span>
  <span class="spacer"></span>
  <div class="button-container">
    <button mat-raised-button (click)="navigateByUrl('home')">Home</button>
    <button mat-raised-button *ngIf="!user" (click)="navigateByUrl('login')">Login</button>
    <button mat-raised-button *ngIf="user && !isAdmin && isBought == true" (click)="navigateByUrl('prize-draw')">Livro do Mes</button>
    <button mat-raised-button *ngIf="user && isAdmin" (click)="navigateByUrl('product-management')">Product Management</button>
    <button mat-raised-button *ngIf="user" (click)="logout()">Sair</button>
  </div>
</mat-toolbar>

