.header {
  display: flex;
  align-items: center;
  background-color: #ffca50;
  padding: 2vw;
  color: white;

  .logo-container {
    margin-right: 2vw;
    margin-left: 17vw;
    margin-bottom: 0.2vw;

    .logo {
      width: 15vw;
      height: auto;
    }
  }

  .nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
    margin-bottom: 2vw;
    margin-top: -3vw;

    button {
      text-decoration: none;
      color: white;
      margin-right: 1.5vw;
      font-size: 1.5vw;
      font-weight: bold;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: #5cded4;
      }
    }

    .mat-menu-panel {
      background-color: #fff;
      color: #000;
    }
  }
}
