.header {
  display: flex;
  align-items: center;
  background-color: #ffca50;
  padding: 10px;
  color: white;

  .logo-container {
    margin-right: 10px;
    margin-left: 500px;

    .logo {
      width: 230px;
      height: auto;
    }
  }

  .site-name {
    font-size: 24px;
    font-weight: bold;
  }

  .nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 400px;
    margin-bottom: 40px;

    button {
      text-decoration: none;
      color: white;
      margin-right: 50px;
      font-size: 22px;
      font-weight: bold;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: #5cded4;
      }
    }

    .mat-menu-panel {
      background-color: #fff; /* Background color for the dropdown menu */
      color: #000; /* Text color for the dropdown menu items */
    }
  }
}
