<app-header></app-header>

<div class="prize-draw-container">
  <div>
    <h2 class="valid-subscriptions-title">Assinaturas Válidas:</h2>
    <div class="subscription-card" *ngFor="let subscription of validSubscriptions">
      <h3 class="subscription-type">Tipo de Assinatura: {{ subscription.subscription_type }}</h3>
      <h4 class="subscription-status">Status: Ativa</h4>
      <h4 class="bookSelection-status">
        Livro Escolhido:
        <ng-container *ngIf="subscription.bookSelected; else noBookSelected">
          {{ subscription.bookName }}
        </ng-container>
        <ng-template #noBookSelected>
          Nenhum livro escolhido ainda!
        </ng-template>
      </h4>
      <button *ngIf="!subscription.bookSelected" class="gotoBookSelectionButton" (click)="gotoBookSelection(subscription.subscription_id, subscription.subscription_type)">Escolher um livro!</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
