<app-header></app-header>

<div class="prize-draw-container">
  <div *ngIf="chosen == false">
    <div class="product-card" *ngFor="let book of books">
      <img class="product-image" [src]="book.image" alt="Imagem do livro">
      <h1 class="product-name">Nome: {{ book.name }}</h1>
      <h2 class="product-quantity">Quantidade: {{ book.quantity }}</h2>
      <button class="choose-book" (click)="confirmBook(book)">Escolher este livro!</button>
    </div>
  </div>
  <div *ngIf="chosen == true" class="confirmation-message">
    <h1 class="confirmation-text">Obrigado por escolher o livro {{ book?.name }}, em breve ele chegará na sua casa! Para mais informações, nos contate via Whatsapp ou Email!</h1>
  </div>
</div>

<app-footer></app-footer>
