<footer class="footer">
  <div class="address">
    Endereço: Passagem das Paineiras, 200, Capuava, Embu das Artes
  </div>
  <div class="contact">
    <span class="email">Email: contato@clubedolivro.com.br </span>
    <span class="phone"> Telefone: (11) 98922-0034</span>
  </div>
  <div class="social-icons">
    <a class="social-icon" href="https://facebook.com/profile.php?id=100093357656701" target="_blank" rel="noopener" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a class="social-icon" href="https://www.instagram.com/clubedolivro_bemviver/" target="_blank" rel="noopener" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="social-icon" href="https://api.whatsapp.com/send/?phone=5511993040300&text=Ol%C3%A1%2C+tenho+d%C3%BAvidas+sobre+o+clube+do+livro%21&type=phone_number&app_absent=0" target="_blank" rel="noopener" aria-label="Whatsapp">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>
</footer>
