<div class="white-section">
  <div class="image-container">
    <img src="https://yata.s3-object.locaweb.com.br/f69652aa4ce5925f4e2dbdca0ab4716db8feb5e70bc1d8feb384883119e5a77c" alt="Image 1" class="image">
    <p class="image-title1">Plano Clubinho Bem Viver</p>
    <p class="image-text1">O que você recebe mensalmente: <br><br>- 1 Livro Infantil ligado a Antroposofia ou à Pedagogia Waldorf (escolhidos entre as opções disponibilizadas por nossa curadoria)<br><br>- 1 Brinquedo Educativo de madeira que estimula o aprendizado de forma lúdica<br><br><br></p>
    <div class="button-container">
      <button class="button1" (click)="productDetails(subs[0])">Confira aqui esse plano!</button>
    </div>
    <div class="line1"></div>
  </div>
  <div class="image-container">
    <img src="https://yata.s3-object.locaweb.com.br/014ce0f43b3f42e5edccf4d4b9e095af0ba6b2f1f92a465296dfad5fa3f0e073" alt="Image 2" class="image">
    <p class="image-title2">Plano Clube Bem Viver</p>
    <p class="image-text1">O que você recebe mensalmente:<br><br>- 1 Livro ligado a Antroposofia ou à Pedagogia Waldorf (escolhidos entre as opções disponibilizadas por nossa curadoria)</p>
    <div class="button-container2">
      <button class="button2"(click)="productDetails(subs[1])">Confira aqui esse plano!</button>
    </div>
    <div class="line2"></div>
  </div>
  <div class="image-container">
    <img src="https://yata.s3-object.locaweb.com.br/893fae053669ad698591608ec0c8b59d79664b46b780b6935869975bb56615e5" alt="Image 3" class="image">
    <p class="image-title3">Plano Clube Bem Viver Pró</p>
    <p class="image-text3">O que você recebe mensalmente:<br><br>- 1 Livro voltado para professores e profissionais da área (escolhidos entre as opções disponibilizadas por nossa curadoria)<br><br>- 1 Livro Infantil que pode ser utilizado para contação de histórias, biblioteca da escola, presentear professores ou alunos</p>
    <div class="button-container">
      <button class="button3" (click)="productDetails(subs[2])">Confira aqui esse plano!</button>
    </div>
    <div class="line3"></div>
  </div>
</div>
