<app-header></app-header>

<div class="product-detail">
  <div class="product-detail-content">
    <div ng-if="subscription">
      <div *ngIf="this.bought == false" class="produtos-showcase">
        <h1>Descrição: {{ subscription?.description }}</h1>
        <h2>Preço: {{ subscription?.price | currency:'BRL' }}</h2>
      </div>
      <div *ngIf="this.bought == true">
        <h2>Clique no botão abaixo se deseja cancelar a sua inscrição</h2>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
