<app-header></app-header>

<div class="product-detail">
  <div class="product-detail-content">
    <div *ngIf="subscription">
      <div class="produtos-showcase">
        <h1>Descrição: {{ subscription.description }}</h1>
        <h2>Preço: {{ subscription.price | currency:'BRL' }}</h2>
      </div>
      <div>
        <button *ngIf="isLoggedIn() && !hasActiveSubscription" (click)="navigateToPurchase()">Compre aqui!</button>
        <button *ngIf="!isLoggedIn()" (click)="navigateToLogin()">Faça o login para comprar!</button>
      </div>
    </div>
    <div *ngIf="hasActiveSubscription">
      <p>Você já possui uma assinatura ativa desse tipo.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
