.body {
  position: relative;

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vw;
    background-color: #ffca50;
    z-index: 2;

    .logo {
      width: 80vw;
      margin-bottom: 8vw;
      height: auto;
      max-width: 50vw;
    }

    .subtitle {
      margin-top: 4vw; 
      color: #3399d9;
      font-weight: bold;
      font-size: 2.8vw;
      text-align: center;
    }

    .text-blue {
      margin-top: 1vw; 
      margin-bottom: 4vw; 
      color: #3399d9;
      font-size: 2.5vw; 
      font-weight: 400;
      text-align: center;
    }
  }
}

.white-section {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 5vw 0; /* Ajustando o padding para 5% da largura da tela verticalmente e 0 horizontalmente */
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 4vw; /* Ajustando a margem para 4% da largura da tela */
  height: 100%;
}

.image {
  width: 25vw; /* Ajustando a largura para 25% da largura da tela */
  height: auto;
  max-width: 250px; /* Limitando a largura máxima da imagem */
}

.image-title1,
.image-title2,
.image-title3 {
  margin-top: 2vw; /* Ajustando a margem superior para 2% da largura da tela */
  margin-right: 3vw; /* Ajustando a margem direita para 3% da largura da tela */
  color: #ff767d;
  font-size: 1.8vw; /* Ajustando o tamanho da fonte para 1.8% da largura da tela */
  font-weight: bold;
  text-align: center;
}

.image-text1,
.image-text2,
.image-text3 {
  margin-top: 1vw; /* Ajustando a margem superior para 1% da largura da tela */
  color: #666;
  font-size: 1.6vw; /* Ajustando o tamanho da fonte para 1.6% da largura da tela */
  text-align: center;
  padding: 2vw 4vw; /* Ajustando o padding para 2% da largura da tela verticalmente e 4% horizontalmente */
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2vw; /* Ajustando a margem superior para 2% da largura da tela */
}

.button1,
.button2,
.button3 {
  background-color: #ff767d;
  color: #fff;
  padding: 1vw 2vw; /* Ajustando o padding para 1% da largura da tela verticalmente e 2% horizontalmente */
  font-size: 1.8vw; /* Ajustando o tamanho da fonte para 1.8% da largura da tela */
  font-weight: bold;
  border: none;
  border-radius: 3vw; /* Ajustando o raio do border-radius para 3% da largura da tela */
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ffaa00;
}

.line1,
.line2,
.line3 {
  width: 25vw; /* Ajustando a largura para 25% da largura da tela */
  height: 0.5vw; /* Ajustando a altura para 0.5% da largura da tela */
  margin-top: 2vw; /* Ajustando a margem superior para 2% da largura da tela */
}

.line1 {
  background-color: #ff767d;
}

.line2 {
  background-color: #ffca50;
}

.line3 {
  background-color: #5cded4;
}
