$color-primary: #ffca50;
$color-secondary: #ffffff;
$color-text: #333333;

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw; /* Alterando gap para 3% da largura da tela */
  padding: 1vw; /* Alterando padding para 5% da largura da tela */

  background-color: $color-secondary;
  color: $color-text;

  .about-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw; /* Alterando gap para 3% da largura da tela */
    max-width: 90vw; /* Alterando max-width para 90% da largura da tela */

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    .about-img {
      flex: 1;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .about-img1 {
      flex: 1;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .about-content {
      flex: 1;
      max-width: 40vw; /* Alterando max-width para 40% da largura da tela */

      .about-title1 {
        text-align: center;
        font-size: 3.2vw; /* Alterando font-size para 3.2% da largura da tela */
        font-weight: bold;
        margin-bottom: 1.5vw; /* Alterando margin-bottom para 2% da largura da tela */
      }

      .about-title {
        font-size: 3.2vw; /* Alterando font-size para 3.2% da largura da tela */
        font-weight: bold;
        margin-bottom: 2vw; /* Alterando margin-bottom para 2% da largura da tela */
      }

      .about-text1 {
        align-items: center;
        margin-left: -13vw;
        width: 70vw;
        height: 7.5vw;
        text-align: center;
        font-size: 1.2vw; /* Alterando font-size para 1.8% da largura da tela */
        line-height: 2vw;
      }

      .about-text {
        align-items: center;
        margin-left: -13vw;
        width: 70vw;
        height: 7.5vw;
        text-align: center;
        font-size: 1.2vw; /* Alterando font-size para 1.8% da largura da tela */
        line-height: 2vw;
      }
    }
  }

  // Estilizando os títulos
  h1, h2, h3, h4, h5, h6 {
    color: $color-primary;
    font-weight: bold;
  }

  // Estilizando os links
  a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
