<app-header></app-header>

<main class="about-container">
  <section class="about-section">
    <div class="about-img">
      <img src="https://yata.s3-object.locaweb.com.br/e61e6b3beffbc51e8981528684c924aed7da328730686909ca3a84888cb34d91" alt="Imagem sobre o Clube do Livro Bem Viver">
    </div>
    <div class="about-content">
      <h2 class="about-title">O Clube do Livro Bem Viver</h2>
      <p class="about-text">Texto sobre o Clube do Livro Bem Viver. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac ex vel nunc venenatis pellentesque. Vivamus elementum venenatis neque, non suscipit purus scelerisque eget. Proin finibus, dui at venenatis pulvinar, justo ipsum tincidunt nisi, vitae egestas odio nulla eu urna.</p>
    </div>
  </section>

  <section class="about-section">
    <div class="about-content">
      <h2 class="about-title">Como funciona o Clube</h2>
      <p class="about-text">Texto sobre como funciona o Clube do Livro Bem Viver. Curabitur at maximus nisi. Curabitur quis purus felis. Nunc et hendrerit erat, quis auctor dolor. Suspendisse et elit quis lectus elementum mollis. Vestibulum at neque turpis. Nunc egestas fermentum dolor, ac feugiat justo dictum ac.</p>
    </div>
    <div class="about-img">
      <img src="https://yata.s3-object.locaweb.com.br/6afb389fe748113097fc8ed862eaa0f9e9e95357d87b13e8691ce65f755eac4b" alt="Imagem sobre como funciona o Clube do Livro Bem Viver">
    </div>
  </section>

  <section class="about-section">
    <div class="about-img">
      <img src="https://yata.s3-object.locaweb.com.br/741571d7c221fb06d93fea1ad9cf9db831b6dcac5995f21afe85214822019ab1" alt="Imagem sobre a equipe do Clube do Livro Bem Viver">
    </div>
    <div class="about-content">
      <h2 class="about-title">Conheça nossa equipe</h2>
      <p class="about-text">Texto sobre a equipe do Clube do Livro Bem Viver. Vestibulum at magna eu turpis bibendum lacinia sit amet eget nulla. Vestibulum euismod ligula vel neque luctus, vel interdum lectus eleifend. Integer at semper risus. Praesent iaculis libero eget eleifend varius.</p>
    </div>
  </section>
</main>


<app-footer></app-footer>
