<app-header></app-header>

<main class="about-container">
  <section class="about-section1">
    <div class="about-content">
      <h1 class="about-title1">Quem Somos</h1>
      <p class="about-text1">Somos uma Livraria (B2Book) localizada fisicamente dentro do Jardim Waldorf Espaço Bem Viver. Desde 2014 atuamos na venda de livros de todos os gêneros, tanto em livraria física como on-line (www.bonnaro.com.br). Com a mudança em 2021 da livraria física para dentro da Escola Espaço Bem Viver, verificamos a necessidade de criação do Clube do Livro para atender a crescente demanda dos pais e professores por livros que tratassem dos temas Antroposofia e Pedagogia Waldorf.</p>
    </div>
    <div class="about-img1">
      <img src="https://yata.s3-object.locaweb.com.br/e61e6b3beffbc51e8981528684c924aed7da328730686909ca3a84888cb34d91" alt="Imagem sobre o Clube do Livro Bem Viver">
    </div>
  </section>

  <section class="about-section2">
    <div class="about-content">
      <h2 class="about-title">NOSSO OBJETIVO</h2>
      <p class="about-text">Nosso principal objetivo é proporcionar ótimas experiências de leitura, aprendizado e diversão para Pais e Mães, Crianças e Profissionais da Educação, facilitando o acesso a livros e brinquedos que estejam ligados à Antroposofia e à Pedagogia Waldorf.</p>
    </div>
    <div class="about-img">
      <img src="https://yata.s3-object.locaweb.com.br/6afb389fe748113097fc8ed862eaa0f9e9e95357d87b13e8691ce65f755eac4b" alt="Imagem sobre como funciona o Clube do Livro Bem Viver">
    </div>
  </section>

  <section class="about-section3">
    <div class="about-content">
      <h2 class="about-title">NOSSA HISTÓRIA</h2>
      <p class="about-text">Já são quase 10 anos como Livraria B2Book, e agora estamos ampliando horizontes para nosso primeiro Clube do Livro. Muitas outras novidades virão. Aguardem.</p>
    </div>
    <div class="about-img">
      <img src="https://yata.s3-object.locaweb.com.br/741571d7c221fb06d93fea1ad9cf9db831b6dcac5995f21afe85214822019ab1" alt="Imagem sobre a equipe do Clube do Livro Bem Viver">
    </div>
  </section>
</main>

<app-footer class="footer"></app-footer>
